﻿@import { url('~/platform.css') };

.blue-button {
    background-color: #0099ff;
    border-width: 0;
    color: white;
    height: 40;
    padding: 5 15 5 15;
    margin: 5;
    text-transform: uppercase;
    width: 110;
}
.fab-button {
    background-color: #ce2610;
    height: 50;
    horizontal-align: right; 
    margin: 10;
    vertical-align: bottom; 
    width: 50; 
}
.gray-button {
    background-color: LightGray;
    border-width: 0;
    color: black;
    height: 40;
    padding: 5 15 5 15;
    margin: 5;
    text-transform: uppercase;
    width: 110;
}
.green-button {
    background-color: #6AAD3E;
    border-width: 0;
    color: white;
    height: 40;
    padding: 5 15 5 15;
    margin: 5;
    text-transform: uppercase;
    width: 110;
}
.red-button {
    /* background-color: #F44336;  */
    border-color: #F44336;
    border-width: 1;
    color: #F44336;
    height: 30;
    padding: 5 15 5 15;
    margin: 5;
    text-transform: uppercase;
    width: 110;
}